header {
  padding: 10px 5%;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 104px;
  height: auto;
}

.main-nav {
  width: calc(100% - 292px);
  display: flex;
  flex-grow: 1;

  .burger-menu {
    margin-left: auto;
    width: fit-content;
  }

  .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    &.show {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 50px;
      width: 90%;
      left: 50%;
      margin: 0;
      padding: 20px;
      z-index: 100;
      box-sizing: border-box;
      transform: translateX(-50%);
      background-color: #2a2a2a;
    }

    .nav-item {
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;

        &:hover {
          color: var(--red-color);
        }
      }
    }
  }

  @media (min-width: 796px) {

    .burger-menu {
      margin-left: auto;
      width: fit-content;
    }

    .nav-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;

      &.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 90%;
        left: 50%;
        background-color: #2a2a2a;
        z-index: 100;
        box-sizing: border-box;
        transform: translateX(-50%);
        padding: 20px;
      }

      .nav-item {
        a {
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;

          &:hover {
            color: var(--red-color);
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    .burger-menu {
      display: none;
    }

    .nav-menu {
      display: flex;
      position: static;
      flex-direction: row;
      width: auto;
      background-color: transparent;
      z-index: auto;

      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      gap: 20px;
    }
  }
}



.search {
  width: 24px;
  margin-left: auto;
}

.language-switcher {
  width: 104px;
  position: relative;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
      content: "";
      display: block;
      width: 38px;
      height: 24px;
      border-radius: 100px;
      border: 1px solid #fff;
      order: 2;
      background: transparent;
    }

    li {
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      color: var(--grey-color);
      position: relative;

      a {
        text-decoration: none;
        color: var(--grey-color);
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;

        &.is-active {
          color: #fff;
        }
      }

      &.ua {
        order: 1;

        a::after {
          content: '';
          display: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: url("images/ukr.png") no-repeat center;
          background-size: contain;
          position: absolute;
          top: 3px;
          right: -31px;
        }

        a.is-active::after {
          display: block;
        }
      }

      &.en {
        order: 3;

        a::before {
          content: '';
          display: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: url("images/eng.png") no-repeat center;
          background-size: contain;
          position: absolute;
          top: 3px;
          left: -31px;
        }

        a.is-active::before {
          display: block;
        }
      }
    }
  }
}

